<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>


  <div class="form-group">
    <%= f.label :full_name %>
    <%= f.text_field :full_name, autofocus: true, class: "form-control", placeholder: "First and last name" %>
  </div>

  <div class="form-group">
    <%= f.label :preferred_name %>
    <%= f.text_field :preferred_name, autofocus: true, class: "form-control", placeholder: "What do you want people to call you?"  %>
  </div>

  <div class="form-group">
    <%= f.label :grad_year %>
    <%= f.number_field :grad_year, autofocus: true, class: "form-control", placeholder: "YYYY", value: Date.today.strftime("%Y") %>
  </div>

  <div class="form-group">
    <%= f.label :hometown %>
    <%= f.text_field :hometown, autofocus: true, class: "form-control", placeholder: "Where do you call home?"  %>
  </div>

  <div class="form-group">
    <%= f.label :profile_photo %>
    <%= f.text_field :profile_photo, autofocus: true, class: "form-control", placeholder: "Image URL" %>
  </div>

  <div class="form-group">
    <%= f.label :summer_internship, "2nd years, what is your summer internship?" %>
    <%= f.text_field :summer_internship, autofocus: true, class: "form-control", placeholder: "In a sentence, what are you doing this summer?"  %>
  </div>

  <div class="form-group">
    <%= f.label :kellogg_memory, "What has been your favorite memory so far at Kellogg?" %>
    <%= f.text_field :kellogg_memory, autofocus: true, class: "form-control", placeholder: "Let us know about it in a few sentences." %>
  </div>

  <div class="form-group">
    <%= f.label :grow_up, "When you were little, what did you want to be when you grew up?" %>
    <%= f.text_field :grow_up, autofocus: true, class: "form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :ten_year_goals, "Where do see yourself in ten years, where and who do you want to be?" %>
    <%= f.text_field :ten_year_goals, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :anything_else, "Anything else you want the coMMMunity to know about you?" %>
    <%= f.text_field :anything_else, autofocus: true, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
