<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>


    <div class="form-group">
      <label for="full_name" class="control-label">
        Full Name
      </label>
      <input type="text" id="full_name" name="full_name" placeholder="Your first and last name" class="form-control">
    </div>

    <div class="form-group">
      <label for="preferred_name" class="control-label">
        Preferred Name
      </label>
      <input type="text" id="preferred_name" name="preferred_name" placeholder="What you want people to call you" class="form-control">
    </div>

    <div class="form-group">
      <label for="grad_year" class="control-label">
        Graduation Date
      </label>
      <input type="date" id="grad_year" name="grad_year" placeholder="YYYY" class="form-control">
    </div>

    <div class="form-group">
      <label for="hometown" class="control-label">
        Hometown
      </label>
      <input type="text" id="hometown" name="hometown" placeholder="Where do you consider home?" class="form-control">
    </div>

    <div class="form-group">
      <label for="profile_photo" class="control-label">
        Profile Picture
      </label>
      <input type="text" id="profile_photo" name="profile_photo" placeholder="Photo URL" class="form-control">
    </div>

    <div class="form-group">
      <label for="summer_internship" class="control-label">
        2nd years, where are you interning this summer?
      </label>
      <input type="text" id="summer_internship" name="summer_internship" placeholder="What you'll be doing, in a sentence" class="form-control">

      <div class="form-group">
        <label for="kellogg_memory" class="control-label">
          What has been your favorite memory so far at Kellogg?
        </label>
        <input type="text" id="kellogg_memory" name="kellogg_memory" placeholder="Describe in a few sentences" class="form-control">
      </div>

      <div class="form-group">
        <label for="grow_up" class="control-label">
          When you were little, what did you want to be when you grew up?
        </label>
        <input type="text" id="grow_up" name="grow_up" placeholder="Describe in a few sentences" class="form-control">
      </div>

      <div class="form-group">
        <label for="ten_year_goals" class="control-label">
          Where do you see yourself in 10 years?
        </label>
        <input type="text" id="ten_year_goals" name="ten_year_goals" placeholder="Describe in a few sentences" class="form-control">
      </div>

      <div class="form-group">
        <label for="anything_else" class="control-label">
          Anything else you want the faMMM to know about you?
        </label>
        <input type="text" id="anything_else" name="anything_else" placeholder="Describe in a few sentences" class="form-control">
      </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
