<!-- Validation failure messages -->
<% if @function.errors.any? %>
  <% @function.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Function #<%= @function.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_function/<%= @function.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for function_name -->
      <div class="form-group">
        <label for="function_name" class="control-label">
          Function name
        </label>

        <input type="text" id="function_name" name="function_name" placeholder="Function name" class="form-control" value="<%= @function.function_name %>">
      </div>

      <!-- Label and input for experience -->
      <div class="checkbox">
        <label for="experience">
          <input type="checkbox" id="experience" name="experience" value="1" <%= "checked" if @function.experience %>>
          Experience
        </label>
      </div>

      <!-- Label and input for interest -->
      <div class="checkbox">
        <label for="interest">
          <input type="checkbox" id="interest" name="interest" value="1" <%= "checked" if @function.interest %>>
          Interest
        </label>
      </div>

      <button class="btn btn-warning">
        Update Function
      </button>
      or
      <a href="/functions/<%= @function.id %>">Cancel</a>
    </form>
  </div>
</div>
