<div class="page-header">
  <h3><%= @function.function_name %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>People</dt>
     <dd>
       <ul class="list-group">
       <% @function.roles.each do |role| %>
         <li class="list-group-item">
           <a href="/users/<%= role.user_id %>">
              <img src="<%=role.user.profile_photo%>" class="img-responsive" width = "100">
              <%= role.user.full_name %>
              </a>
              <p>
              <small><p><b>Experience?</b> <% if role.experience==true%> Yes <%else%> Not yet <%end%> </p>
              <p><b>Current Interest?</b> <% if role.interest==true%> Yes <%else%> Not right now <%end%></p>
              </small>
           </li>
       <% end %>
       </ul>
     </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/functions" class="btn btn-primary">
        Back
      </a>
      <!-- <a href="/functions/<%= @function.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_function/<%= @function.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a> -->
    </div>
  </div>
</div>
