<!-- Validation failure messages -->
<% if @involvement.errors.any? %>
  <% @involvement.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Involvement</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_involvement" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for industry_id -->
      <div class="form-group">
        <label for="industry_id" class="control-label">
          Industry
        </label>

        <input type="text" id="industry_id" name="industry_id" placeholder="Industry" class="form-control" value="<%= @involvement.industry_id %>">
      </div>

      <!-- Label and input for experience -->
      <div class="checkbox">
        <label for="experience">
          <input type="checkbox" id="experience" name="experience" value="1" <%= "checked" if @involvement.experience %>>
          Experience
        </label>
      </div>

      <!-- Label and input for interest -->
      <div class="checkbox">
        <label for="interest">
          <input type="checkbox" id="interest" name="interest" value="1" <%= "checked" if @involvement.interest %>>
          Interest
        </label>
      </div>

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @involvement.user_id %>">
      </div>

      <button class="btn btn-success">
        Create Involvement
      </button>
      or
      <a href="/involvements">Cancel</a>
    </form>
  </div>
</div>
