<!-- Validation failure messages -->
<% if @role.errors.any? %>
  <% @role.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add a Function to Your Profile
  <p><small>Add a function below, and indicate whether this is a function you have experience in, are interested in, or both.</small></p>
</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_role" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!--Label and input for function from dropdown-->
      <div class="form-group">
                <label for="function_id" class="control-label">
                  Function
                </label>
                <%= select_tag(:function_id, options_from_collection_for_select(Function.all, :id, :function_name), :class => "form-control") %>
                <p class="help-block">
                  <a href="/functions/new">or add a new function</a>
                </p>
              </div>

      <!-- Hidden input for user_id -->
      <input type="hidden" id="user_id" name="user_id" value="<%= current_user.id %>">
      <!-- Not hidden, original label and input for User ID -->
      <!-- <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @role.user_id %>">
      </div> -->

      <!-- Label and input for experience -->
      <div class="checkbox">
        <label for="experience">
          <input type="checkbox" id="experience" name="experience" value="1" <%= "checked" if @role.experience %>>
          Experience
        </label>
      </div>

      <!-- Label and input for interest -->
      <div class="checkbox">
        <label for="interest">
          <input type="checkbox" id="interest" name="interest" value="1" <%= "checked" if @role.interest %>>
          Interest
        </label>
      </div>

      <button class="btn btn-success">
        Add Function
      </button>
      or
      <a href="/roles">Cancel</a>
    </form>
  </div>
</div>
